{% extends "Auctions/base.html" %}
{% load static %}
{% block content %}
    <br><br>
    <div class="container">
      <div class="row justify-content-md-center">
         <div class="headingcd">
           About Us
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row justify-content-md-center">
         <div class="headingcd2">
             <center>"Our Venture is an initative to connect Auctioneers and Bidders in a hassle-free and convenient manner to facilitate the live auction procedure."</center>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="container">
      <div class="row justify-content-md-center">
         <div class="headingcd">
             Meet The Team
         </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row justify-content-md-center">
         <div class="col-md-2">
             <img class="idimg2" src="{% static "Auctions/img2.jpg" %}">
             <center class="name2">Sharath Chandra</center>
         </div>
           <div class="col-md-2">
             <img class="idimg2" src="{% static "Auctions/img3.jpeg" %}">
               <center class="name2">Jahnavi</center>
         </div>
           <div class="col-md-2">
             <img class="idimg2" src="{% static "Auctions/img5.jpg" %}">
               <center class="name2">Pavan Anand</center>
         </div>
           <div class="col-md-2">
             <img class="idimg2" src="{% static "Auctions/img4.jpeg" %}">
               <center class="name2">Aditya Ramesh</center>
         </div>
           <div class="col-md-2">
             <img class="idimg2" src="{% static "Auctions/img1.jpg" %}">
               <center class="name2">Sriraj</center>
         </div>
      </div>
    </div>

    <br><br><br>
{% endblock %}