{% extends "Auctions/base.html" %}
{% load static %}
{% block content %}
    <br>
    <div class="container">
              <div class="row justify-content-md-center">
                 <div class="headingcd">
                  Items In The Auction
                </div>
              </div>
    </div>
    <br><br><br>
    {% for item_list in items %}
        <div class="container">
                        <div class="row justify-content-md-center">
                          <div class="frame col-md-8">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="cd1"> {{ item_list.item_name }}</h5><br><br>
                                                <span class="cd2"> Description: </span> <br><span class="cd3">{{ item_list.description | wordwrap:10 }}</span><br><br>
                                                <span class="cd2"> Base Price: </span> <br><span class="cd3">{{ item_list.base_price }}</span> <br>
                                            <br><br>
                                        </div>

                                        <div class="col-md-6">
                                           <br> <center> <img class="idimg" src="{{ item_list.item_pic.url }}"> </center>
                                        </div>
                                    </div>
                                </div>
                          </div>
                        </div>
        </div>
        <br><br>
    {% endfor %}
{% endblock %}

