{% extends "Auctions/base.html" %}
{% load static %}
{% block content %}
    <br><br>
    <div class="container">
      <div class="row justify-content-md-center">
         <div class="headingcd">
           Policies
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row justify-content-md-center">
         <div class="headingcd3">
             <center><br>

                 <h4>Usage terms and conditions</h4><br>


<h4>ELIGIBILITY</h4><br>
If you are a child under 13 years of age, we may need your parent or guardians consent before allowing you to use the service.
This Site is intended for use by you only if you are 18 years of age or older,
Bidnwin reserve right to limit the number of user accounts per household.
Products and services are offered to private users only not to commercial retailers.
A user may not use any external software to automatically place bids in the auction.<br>
             <br>    <h4>MEMBERSHIP</h4><br>
You must complete registration by providing certain information as set out on our membership/registration page.
You agree to ensure that your registration details, including your name and email address,
are true and accurate at all times and you undertake to update your registration details from time to time when they change.<br>

             <br>    <h4>PRIVACY & SECURITY</h4><br>
We care about the privacy of our Users.
Bidnwin cares about the integrity and security of your personal information.
However, we cannot guarantee that unauthorized third parties will never be able to defeat our security measures or use your personal information for improper provide your personal information at your own risk.<br>

            <br> <h4>ACCESS TO OUR WEBSITE</h4><br>
Bidnwin reserves the right to change or revise the terms and conditions, at any time by posting any changes or a revised term on this Website.
In case of technical issue or cancellation of programme user will get processing fees .
We use varied range information, text, images, content, advertisement and other material for the search services.

             <br>    <br> <h4> USE OF WEBSITE </h4> <br>
BIDNWIN ONLINE SMART SOLUTIONS PRIVATE LIMITED are not responsible for any damages resulting from use of this website by anyone.
You will not use the Website for illegal purposes.
You will:
 (1) abide by all applicable local, state, national, and international laws and regulations in your use of the website
 (2) not interfere with or disrupt the use and enjoyment of the website by other users
 (3) not defame, harass, abuse, or disrupt other users of the website <br>

This website and its content is copyright of Auction - © Online Shopping (2018). All rights reserved. <br>

Effective August 8, 2018. Last Revised December 25, 2018 <br><br>

                <br> <h4>Contact Address</h4><br>

Bid'n'win Online Smart Solutions Private Limited
11/286-1-18,
IIIT Boys Hostel , Sricity Trade center
Sricity, Sathyavedu Mandal,Chitoor Dist,
Andhra Pradesh
PIN - 517546
phone number: +91-9959087171 (10AM - 5PM, Working Days Only)
Email: Info@bidnwin.com

                           <br><br>Bidnwin.com. All Rights Reserved</center>
        </div>
      </div>
    </div>
{% endblock %}